:root {
    --color-bg: #b91547;
    --color-bg-passeger: #757575;
    --color-border-button: #e98b4e;
    --color-bg-buttons: #c5c5c5;
}

/* body */

body {

    background-color: var(--color-bg);
}

/* form */

h2 {
    color: white;
    text-align: center;
    text-transform: uppercase;
}

form>div {

    background-color: white;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 5px 10px;
}

div #form #ticketResult {

    max-width: 70%;
}

div #form label {

    color: var(--color-bg);
    font-weight: 500;
    margin-bottom: 15px;
    text-align: center;
}

div #form input {

    border: 2px solid var(--color-bg);
}

div #buttons {

    max-width: 20%;
}

div #buttons>input {

    background-color: var(--color-bg-buttons);
    color: var(--color-bg);
    font-weight: 700;

}

div #buttons>input:nth-child(1) {

    border: 2px solid var(--color-border-button);
}


/* Ticket result */

table {

    height: 20vh;
    text-align: center;
}

tr>th:first-child,
tr>td:first-child {

    background-color: var(--color-bg-passeger);
}

tr>td:first-child {

    font-weight: 1000;
}