:root {
    --color-bg: #b91547;
    --color-bg-passeger: #757575;
    --color-border-button: #e98b4e;
}

body {

    background-color: var(--color-bg);
}

h2 {
    color: white;
}

.container {

    background-color: white;
}

div #form {

    max-width: 70%;
}